@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');

div.container-fluid{
    background-color: black;
}
img.bannerSite{
    width: 100%;
    height: 300px;
}
span.toTheMoon{
    font-size: 20pt;
    color: yellow;
    font-weight: 600;
    font-family: 'Explora', cursive;
}
button.suscriptionButton{
    height: 30px;
    width: 120px;
}
.card{
    color: #fff;
    width: 18rem;
    margin-top: 40px;
    text-align: center;
}
img.card-img-top{
    background-color: #000;
    width: 64px;
    height: 64px;
    position: relative;
    left: 35%;
    margin: 20px 10px 20px 10px;
}
div.card-body{
    background-color: #000;
}
div.card-header{
    background-color: #000;
}

/* Slider inicio */

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


.slider {
	background: #000;
	height: 25px;
	margin: auto;
	overflow:hidden;
	position: relative;
}
.slider::before, .slider::after {
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		content: "";
		height: 100px;
		position: absolute;
		z-index: 2;
	}

.slider::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

.slider::before {
		left: 0;
		top: 0;
	}

.slide-track {
		animation: scroll 40s linear infinite;
		display: flex;
		width: calc(250px * 14);
	}

.slide {
		height: 100px;
		width: 250px;
        color: #F1C40F;
	}

    span.suba{
        color: #fff;
    }

    /* Slider Fin */